[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "IFNPlugin"]
	path = IFNPlugin
	url = https://github.com/jetflav/IFNPlugin.git
[submodule "JIDENN"]
	path = JIDENN
	url = https://github.com/jansam123/JIDENN
